.landingPageContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.landingPageContent {
  flex: 3;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.landingPageColumn {
  flex: 1;
}
